<div class="resume-item">
  <div class="resume-item-header">
    <h3 class="position">SmartHomeAccess</h3>
    <p class="date">Jan. 2025 - Mar. 2025</p>
    <p class="location">University of California, San Diego</p>
    <p class="tech-stack">Python, Flask, SQLite, Raspberry Pi</p>
  </div>
  <div class="resume-item-details">
    <ul>
      <li>
        Co-designed an RFID-based home access system with embedded hardware,
        achieving 90%+ detection reliability with 0.592s average detection time
        and 20ms authentication latency
      </li>
      <li>
        Optimized energy efficiency through interrupt-driven multithreading,
        significantly reducing power consumption to below 1A while maintaining
        real-time performance
      </li>
      <li>
        Utilized SQLite’s Write-Ahead-Logging to ensure data consistency with
        concurrent multi-client operations
      </li>
    </ul>
  </div>
</div>

<div class="resume-item">
  <div class="resume-item-header">
    <h3 class="position">AstroAuth</h3>
    <p class="date">Dec. 2024</p>
    <p class="tech-stack">Go, SQLite</p>
  </div>
  <p>
    <strong>Project Link: </strong>
    <a href="https://github.com/sneha-afk/astroauth">GitHub</a>
  </p>
  <div class="resume-item-details">
    <ul>
      <li>
        Developed a secure prototype authentication API supporting RSA, ES256,
        or ES512 JWT hashing schemes
      </li>
      <li>
        Implemented secure credential management and database operations using
        trusted Go libraries, following security best practices for
        production-ready systems
      </li>
    </ul>
  </div>
</div>

<div class="resume-item">
  <div class="resume-item-header">
    <h3 class="position">KeplerKV</h3>
    <p class="date">Jul. 2024 - Dec. 2024</p>
    <p class="tech-stack">C++, CMake, Bash</p>
  </div>
  <p>
    <strong>Project Link: </strong>
    <a href="https://github.com/sneha-afk/KeplerKV">GitHub</a>
  </p>
  <div class="resume-item-details">
    <ul>
      <li>
        Built a lightweight NoSQL key-value store supporting typed key-value
        pairs and basic transactions
      </li>
      <li>
        Designed a custom, extensible query language for efficient data
        management and manipulation, supporting both interactive CLI and
        automated script execution for production workflows
      </li>
      <li>
        Implemented ACID-compliant transactions with efficient serialization,
        ensuring data persistence and atomic operations under concurrent access
      </li>
    </ul>
  </div>
</div>

<div class="resume-item">
  <div class="resume-item-header">
    <h3 class="position">SlugQuest</h3>
    <p class="date">Jan. 2024 - Mar. 2024</p>
    <p class="location">University of California, Santa Cruz</p>
    <p class="tech-stack">Go, SvelteJS, SQLite</p>
  </div>
  <p>
    <strong>Project Link: </strong>
    <a href="https://github.com/SlugQuest">GitHub</a>
  </p>
  <div class="resume-item-details">
    <ul>
      <li>
        Built a gamified productivity app with collaborative features and a
        reward system to boost user engagement
      </li>
      <li>
        Integrated Auth0 API by Okta for secure authentication, ensuring
        seamless user experience and data protection
      </li>
      <li>
        Achieved over 95% code coverage through comprehensive unit testing with
        Go’s native test framework
      </li>
    </ul>
  </div>
</div>
