@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

body {
  font-family: $font-primary;
  font-size: 13px;
  background-color: $background-primary;
  color: $text-color;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: $hover-text;
    background-color: $hover-bg;
  }
}

main,
.container {
  max-width: 60%;
  margin: 0 auto;
}

// Mobile support
@media (max-width: $mobile-breakpoint) {
  main,
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}
