@import "variables";

body {
  font-family: $font-primary;
  font-size: $font-size-sm;
  font-style: normal;
  line-height: 1.5;
  background-color: $background-primary;
  color: $text-color;
  margin: 0;
  padding: $spacing-lg;
}

header {
  text-align: center;
  margin-bottom: $spacing-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: $hover-text;
    background-color: $hover-bg;
  }
}

body,
main,
.container {
  max-width: 75%;
  margin: 0 auto;
}

// Mobile support
@media (max-width: $mobile-breakpoint) {
  body,
  main,
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}
