table {
  border-spacing: 0px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

th,
td {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

th {
  background: $background-secondary;
  font-weight: 600;
  padding: 0.25em;
}

td {
  padding: 0.25em;
}
