@use "variables" as *;
@use "mixins" as mixins;

blockquote {
  margin: 1.5em 0;
  padding: $blockquote-padding;
  border-radius: $blockquote-radius;
  border-left: $blockquote-border-width solid $color-blue-primary;
  background-color: $gray-100;
  color: $gray-900;
  font-style: italic;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

  p {
    margin: 0;
  }

  &::before {
    margin-right: 0.5em;
    font-style: normal;
    font-weight: bold;
  }
}

.blockquote {
  &-tip {
    @include mixins.blockquote-variant(
      $accent-success,
      $color-green-light,
      "💡 TIP",
      $color-green-dark
    );
  }

  &-warning {
    @include mixins.blockquote-variant(
      $accent-warning,
      $color-yellow-light,
      "⚠️ WARNING",
      $color-yellow-dark
    );
  }

  &-danger {
    @include mixins.blockquote-variant(
      $accent-danger,
      $color-red-light,
      "🛑 DANGER",
      $color-red-dark
    );
  }

  &-info {
    @include mixins.blockquote-variant(
      $accent-info,
      $color-blue-light,
      "ℹ️ INFO",
      $color-blue-dark
    );
  }

  &-note {
    @include mixins.blockquote-variant(
      $accent-note,
      $color-cyan-light,
      "📝 NOTE",
      $color-cyan-dark
    );
  }
}
