@use "variables" as *;
@use "mixins" as mixins;
@use "sass:color";

.button-link {
  @include mixins.pill(
    $background: $background-primary,
    $hover-background: linear-gradient(
        135deg,
        $color-blue-dark,
        $color-blue-light
      ),
    $color: $primary-color,
    $hover-color: $hover-text
  );
  font-weight: $font-weight-bold;
}

.back-link {
  @include mixins.pill(
    $background: linear-gradient(
        135deg,
        color.scale($background-secondary, $lightness: -30%),
        color.scale($background-secondary, $lightness: 5%)
      ),
    $hover-background: linear-gradient(
        135deg,
        $color-blue-dark,
        $color-blue-light
      ),
    $color: $text-color,
    $hover-color: $hover-text
  );

  font-family: $font-monospace !important;
  font-weight: $font-weight-bold;

  &::before {
    content: "⮜";
    font-size: 0.9em;
  }

  &:hover,
  &:focus-visible {
    transform: translateX(-2px);
    outline: 2px solid $primary-color;
  }
}
