@use "variables" as *;

// ================== BASE CODE STYLING ==================
pre,
code {
  font-family: $font-monospace;
  font-size: $code-font-size;
  line-height: 1.5;
}

// ================== INLINE CODE ==================
.inline-code {
  background: $background-secondary;
  color: $gray-100;
  padding: $code-padding;
  border-radius: $spacing-sm;
  font-family: $font-monospace;
  font-weight: $font-weight-medium;
  white-space: nowrap;
  display: inline;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

a {
  .inline-code {
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus {
      background-color: $hover-bg;
      color: $hover-text;
    }
  }
}

// ================== CODE BLOCKS ==================
.code-block-wrapper {
  position: relative;
  margin: $spacing-xs 0;
}

.code-block {
  border-radius: $spacing-sm;
  padding: 1.5rem 1rem !important;
  font-size: $code-block-font-size !important;
}

.code-lang-label {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  font-size: $font-size-xs;
  font-family: $font-monospace;
  color: $gray-700;
  line-height: 1;
  height: 1.25rem;

  user-select: none;
  z-index: 1;
}
