@use "variables" as *;
@use "mixins" as mixins;

// ================== TABLE STYLING ==================
.highlight table {
  border: none;

  td,
  th,
  pre {
    border: none;
  }
}

// ================== BASE CODE STYLING ==================
pre,
code {
  font-family: $font-monospace;
  font-size: 0.8rem;
}

// ================== INLINE CODE ==================
p code,
li code,
span code {
  background: $background-secondary;
  color: $gray-100;
  padding: 3px 6px;
  border-radius: $spacing-sm;
  font-weight: $font-weight-medium;
  white-space: nowrap;
  display: inline;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

// ================== CODE BLOCKS ==================
code,
.highlight pre {
  padding: 0.75em;
  border-radius: $spacing-sm;
  overflow-x: auto;
  position: relative;
  background-color: $background-secondary;
}

// ================== LINE NUMBERS ==================
.highlight .lineno {
  color: $gray-400;
  user-select: none; // Prevent accidental selection
}

// ================== LANGUAGE LABEL ==================
.code-lang-label {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  font-size: 0.75rem;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
