@use "variables" as *;
@forward "task_list";

// List item
li {
  margin-bottom: $spacing-sm;
}

// Unordered lists
ul {
  padding-left: $spacing-lg;
  margin-bottom: $spacing-md;
}

// Ordered lists
ol {
  padding-left: $spacing-lg;
  margin-bottom: $spacing-md;
}
