@use "variables" as *;
@use "mixins" as mixins;

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-wrap: wrap;
  margin-bottom: $spacing-md;

  h1 {
    flex: 0 1 auto; // Don't grow, allow shrinking, auto basis
    align-self: flex-start;
  }

  nav {
    display: flex;
    align-items: center;
    margin-left: auto; // Push to the right
    flex: 1 1 auto; // Allow growing and shrinking
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: $nav-gap;
    font-family: $font-monospace;
  }
}

@include mixins.respond-to(mobile) {
  .site-navbar {
    flex-direction: row;
    align-items: flex-end;
    width: 100%;

    h1 {
      flex: 1 1 100%;
      text-align: left;
    }

    nav {
      width: 100%;
      margin-left: 0;
      justify-content: right;
    }
  }
}
