@use "variables" as *;

table:not(.highlight table) {
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  border-radius: $spacing-sm;
  border-left: $spacing-xs solid $gray-400;
  border-right: $spacing-xs solid $gray-400;
  border-bottom: 1px solid $gray-400;
  overflow: hidden;
}

// Inner cells
table:not(.highlight table) th,
table:not(.highlight table) td {
  border-left: 1px solid $gray-400;
  border-top: 1px solid $gray-400;
}

// Header row
table:not(.highlight table) th {
  background: $background-secondary;
  font-weight: $font-weight-bold;
  padding: 0.25em;
}

// Data cells
table:not(.highlight table) td {
  padding: 0.25em;
}

// Change color when hovering over a row
table:not(.highlight table) tr:hover td {
  background: $gray-900;
}
