@use "variables" as *;
@use "mixins" as mixins;

.toc {
  background: $background-secondary;
  border-radius: $spacing-sm;
  padding: 1.5rem;
  margin: 1.5rem 0;
  font-family: $font-primary;

  // Apply border only to the outermost .toc
  &:not(.toc .toc) {
    border-left: 3px solid $gray-500;
  }

  // Remove default list styling
  &,
  ul {
    margin: 0;
    list-style-type: none;
  }

  // Sublist styling
  .toc-sublist {
    padding-left: 1.5rem;
    margin: 0.5rem 0;
  }

  // Item styling
  .toc-item {
    margin: 0.5rem 0;
  }

  // Links styling
  a {
    text-decoration: none;
    color: $color-blue-light;
    transition: color 0.2s ease;
    display: inline-block;

    &:hover {
      text-decoration: underline;
      color: $hover-text;
      background-color: $hover-bg;
    }
  }

  // Heading
  &::before {
    content: "Contents";
    display: block;
    margin-bottom: 1rem;
    color: $gray-100;
    font-weight: bold;
    font-size: 1.15rem;
    border-bottom: 1px solid $gray-100;
  }

  // Get rid of repeat label, only apply to outermost .toc
  > .toc::before {
    content: none;
  }
}

@include mixins.respond-to(mobile) {
  .toc {
    padding: 1rem;

    .toc-sublist {
      padding-left: 1rem;
    }
  }
}
