@use "variables" as *;
@use "mixins" as mixins;

.task-list {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;

    input[type="checkbox"] {
      @include mixins.custom-checkbox;
    }
  }
}
