@use "variables" as *;
@use "mixins" as mixins;

.contains-task-list {
  padding-left: 0;

  .task-list-item {
    display: flex;
    gap: 0.25rem;

    input[type="checkbox"] {
      @include mixins.custom-checkbox;
    }
  }
}
