.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.site-navbar h1 {
  margin: 0;
  flex: 1;
}

.site-navbar nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex: 1;
  justify-content: flex-end;
}

.site-navbar nav a {
  color: #bc7171;
  text-decoration: none;
  margin-left: 20px;
}

.site-navbar nav a:hover {
  text-decoration: underline;
  color: black;
  background-color: #d5be82;
}

@media (max-width: 500px) {
  .site-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-navbar h1 {
    margin-bottom: 20px;
  }

  .site-navbar nav {
    margin-left: 0;
    width: 100%;
    justify-content: flex-start;
  }

  .site-navbar nav a {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .site-navbar nav a:last-child {
    margin-bottom: 0;
  }
}
