.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 12px;

  h1 {
    margin: 0;
    flex: 1;
  }

  nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex: 1;
    justify-content: flex-end;
    gap: 8px;
  }
}

/* Responsive Styling */
@media (max-width: 500px) {
  .site-navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 8px 12px;

    nav {
      width: 100%;
    }

    nav ul {
      display: flex;
      flex-wrap: wrap; /* Allows items to wrap onto the next line */
      gap: 8px;
      padding: 0;
      margin: 0;
    }

    nav ul li {
      list-style: none;
    }

    nav a {
      padding: 2px 4px;
      margin: 0;
    }
  }
}
