<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/syntax.css' | relative_url }}"
    />
  </head>

  <body>
    {% include header.html %}

    <main>
      <!-- Back link -->
      <!-- Note: nil means was not explicitly set -->
      {% if page.back_link == nil %}
      <a href="#" onclick="history.back(); return false;">/back</a>
      {% endif %}

      <!-- Page title -->
      {% if page.display_title == nil %}
      <h2 class="post-title">{{ page.title }}</h2>
      {% endif %}

      <!-- Table of Contents - toc_only since content loaded after -->
      {% if page.toc == true %}
      <div class="toc">{% toc %}</div>
      <hr />
      {% endif %}

      <!-- Main content -->
      {{ content }}
    </main>

    {% include footer.html %}

    <!-- MathJax Configuration -->
    <script type="text/javascript">
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
          displayMath: [
            ["$$", "$$"],
            ["\\[", "\\]"],
          ],
          tags: "ams",
        },
        loader: { load: ["[tex]/ams"] },
        svg: { fontCache: "global" },
      };
    </script>

    <!-- Load MathJax -->
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=es6"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
      defer
    ></script>
  </body>
</html>
