<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/navigation.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/syntax.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/code_formatting.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/footnotes.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/blockquotes.css' | relative_url }}"
    />
  </head>

  <body>
    {% include header.html %}

    <main>
      <!-- Note: nil means was not explicitly set -->
      <!-- Display back link? -->
      {% if page.back_link == nil %}
      <a href="#" onclick="history.back(); return false;">/back</a>
      {% endif %}

      <!-- Display page title? -->
      {% if page.display_title == nil %}
      <h2 class="post-title">{{ page.title }}</h2>
      {% endif %}

      <!-- Main content afterwards-->
      {{ content }}
    </main>

    {% include footer.html %}

    <!-- Fix: MathJax Configuration -->
    <script type="text/javascript">
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ], // Enable inline math
          displayMath: [
            ["$$", "$$"],
            ["\\[", "\\]"],
          ], // Enable block math
          tags: "ams", // Enables equation numbering and references
        },
        loader: { load: ["[tex]/ams"] }, // Ensure AMS extensions are loaded for referencing
        svg: {
          fontCache: "global",
        },
      };
    </script>

    <!-- Load MathJax -->
    <script
      type="text/javascript"
      async
      src="https://polyfill.io/v3/polyfill.min.js?features=es6"
    ></script>
    <script
      type="text/javascript"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>
</html>
