<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{{ '/favicon.ico' | relative_url }}"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/syntax.css' | relative_url }}"
    />
  </head>

  <body>
    {% include header.html %}

    <main>
      <!-- Back link -->
      <!-- Note: nil means was not explicitly set -->
      {% if page.back_link == nil %}
      <a href="#" onclick="history.back(); return false;" class="back-link">
        /back
      </a>
      {% endif %}

      <!-- Page title -->
      {% if page.display_title == nil %}
      <h2 class="post-title">{{ page.title }}</h2>
      {% endif %}

      <!-- Main content -->
      {{ content }}
    </main>

    {% include footer.html %}

    <!-- MathJax Configuration (only if mathjax: true set in frontmatter) -->
    {% if page.mathjax %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
          displayMath: [
            ["$$", "$$"],
            ["\\[", "\\]"],
          ],
          tags: "ams",
        },
        options: {
          skipHtmlTags: [
            "script",
            "noscript",
            "style",
            "textarea",
            "pre",
            "code",
          ],
        },
        loader: { load: ["[tex]/ams"] },
        svg: { fontCache: "global" },
      };
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
      defer
    ></script>
    {% endif %}

    <!-- Renders the language of a code block-->
    <script>
      document.querySelectorAll('div[class^="language-"]').forEach((el) => {
        if (el.dataset.hasLangLabel) return;

        const className = [...el.classList].find((c) =>
          c.startsWith("language-"),
        );
        if (!className) return;

        const lang = className.replace("language-", "");
        if (!lang) return;

        const label = document.createElement("div");
        label.textContent = lang;
        label.className = "code-lang-label";

        el.style.position = "relative";
        el.dataset.hasLangLabel = true;
        el.appendChild(label);
      });
    </script>
  </body>
</html>
